body {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: center;
	margin: 0;
	font-family: "Arial";
	color: white;
	background: none;
	}
button {
		width: 64px;
		height: 64px;
        background: lightgoldenrodyellow;
        font-family: "Arial";
        cursor: pointer;
        font-size: 18px;
}
input {
    margin: 5px;
    font-size: 18px;
    height: 60px;
    width: 255px;
    background: white;
    text-align: right;
}
.calculator {
    margin: 20px;
	width: 275px;
    border-radius: 10px;
    background-color: green;
    padding: 20px;
}

